/* Dashboard container */

/* Card container with horizontal scroll */
.card-scroll-container {
  display: flex;
  align-items: center;
  position: relative;
  
}

.card-container {
  display: flex;
  overflow-x: hidden; /* Hides native scrollbar */
  gap: 20px;
  padding-top: -20px;
  padding: 10px;
  scroll-behavior: smooth;
}

.card-item {
  background-color: black;
  border-radius: 7px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 220px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  cursor: pointer;
  flex-shrink: 0;
  padding: 2px;
}

.card-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.card-item .card-title {
  font-size: 15px;
  font-weight: 450;
  color: white;
  margin-top: 10px;
}

.card-item .card-price {
  font-size: 16px;
  color: #f6db0a;
  
  margin-top: 5px;
  margin-bottom: 4px;
}

/* Arrow buttons for scrolling */
.scroll-arrow {
  
  border: none;
  background-color: white;
  border-radius: 70%;
  font-size: 20px;
  color: rgb(20, 107, 174);
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
 
  z-index: 1;
}

.scroll-arrow:hover {
  color: #41382f;
}

.scroll-arrow:first-of-type {
  left: 0;
}

.scroll-arrow:last-of-type {
  right: 0;
}
